<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flarial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Flarial.Properties.Settings>
            <setting name="DLLDir" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomDLL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LauncherDir" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomLauncher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundDir" serializeAs="String">
                <value>pack://application:,,,/Assets/Images/background.png</value>
            </setting>
            <setting name="MainFont" serializeAs="String">
                <value>Comic Sans MS</value>
            </setting>
            <setting name="AnimationsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Flarial.Properties.Settings>
    </userSettings>
</configuration>